{
    "$schema": "https://raw.githubusercontent.com/infection/infection/0.26.6/resources/schema.json",
    "source": {
        "directories": [
            "src"
        ]
    },
    "mutators": {
        "@default": true,
        "CastString": false
    },
    "minMsi": 92,
    "minCoveredMsi": 96
}
